.header{
    background-image: linear-gradient(to right,rgba($color-very-light-red-2,0.95),rgba($color-light-red-2,0.9)),url(../images/bg-pattern-intro-desktop.svg);
    background-size:200%;
    background-position:20% 50%;
    background-repeat: none;
    padding: 6.3rem 15.7rem 15.3rem  15.7rem;
    height: auto;
    border-bottom-left-radius: 100px;
    @media only screen and (max-width:$std-mobile){
       background-image: linear-gradient(to right,rgba($color-very-light-red-2,0.95),rgba($color-light-red-2,0.9)),url(../images/bg-pattern-intro-mobile.svg);
    }
    
    
    &__navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        
        &--brand{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        &--main_navigation{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 86%;
            @media only screen and (max-width:64em){
                width: 80%;
            }
            &--list{
                display: flex;
                align-items: center;
                &--item{
                    list-style: none;
                    font-size:$font-reg;
                    a,a:link{
                        color:$color-white;
                        
                        span{
                            padding-left: 0.7rem;
                        }

                    }
                    &:not(:last-child){
                        padding-right: 3.1rem;
                    }
                }
            }
            &--cta{
                
                &--btn-1{
                    font-size:1.8rem;
                    font-family:$font-family-Ubuntu;
                    font-weight: 500;
                    color:$color-white;
                    background:none;
                    border:none;
                    cursor: pointer;
                    padding-right:3.1rem;
                }
                &--btn-2{
                    font-size:1.8rem;
                    font-family:$font-family-Ubuntu;
                    font-weight: 700;
                    color:$color-light-red-2;
                    background:$color-white;
                    border:none;
                    border-radius:$border-radius-cta;
                    padding: 1.4rem 3.6rem;
                    cursor: pointer;

                    &:hover{
                        color:$color-white;
                        background-color: rgba($color-white,0.4);
                    }
                }
            }
        }
        &--mobile_navigation{
            display: flex;
            &--cta-open{
                display: flex;
                justify-content: center;
                align-items: centre;
            }
            &--cta-close{
                display: flex;
                justify-content: center;
                align-items: centre;
            }
        }
    }
    &__hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 15rem;
        &--heading{
            width: 100%;
            font-size: 4.8rem;
            font-family: $font-family-Overpass;
            color:$color-white;
        }
        &--content{
            width: 100%;
            text-align: center;
            padding-top: 2.4rem;
            font-size: $font-reg;
            font-weight: $font-weight-md;
            font-family: $font-family-Overpass;
            color:$color-white;
        }
        &--cta{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-top:4.8rem;
            &--btn-1{
                font-family: $font-family-Ubuntu;
                font-weight: 700;
                font-size: $font-reg;
                background-color: $color-white;
                color:$color-light-red-2;
                border: none;
                border-radius: $border-radius-cta;
                padding: 1.4rem 1.6rem;
                margin-right: 1.6rem;
                cursor: pointer;

                &:hover{
                    color:$color-white;
                    background-color: rgba($color-white,0.4);
                }
            }
            &--btn-2{
                font-family: $font-family-Ubuntu;
                background: none;
                border:2px solid $color-white;
                font-size:$font-reg;
                font-weight: 700;
                padding: 1.4rem 1.6rem;
                color: $color-white;
                border-radius: $border-radius-cta;
                cursor:pointer;
                &:hover{
                    background-color:$color-white;
                    color:$color-light-red-2;
                }
            }
        }
    }
    
}

.hidden{
    display: none;
}