.information{
    display: grid;
    grid-template-columns: 52rem 51rem;
    grid-template-rows: 78.6rem;
    background-color: $color-white;
    padding-right: 17.6rem;
    padding-left: 17.6rem;
    padding-bottom: 12rem;
    padding-top: 11.2rem;
    justify-content: center;
    z-index: 3;
    &__image{
        position: relative;
       &--img{
        position: absolute;
        transform: translate(-50%,10%);
        @media only screen and (max-width:64em){
                width: 150%;
                transform: translate(-45%,10%);
        }
        @media only screen and (max-width:$std-mobile){
                src: url('../images/illustration-laptop-mobile.svg');
        }
       }
    }
    
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-1{
            &--heading{
                font-size: 3rem;
                font-family: $font-family-Overpass;
                font-weight: $font-weight-xl;
                color:$color-very-dark-blue;
            }
            &--content{
                margin-top: 3.2rem;
                font-size: $font-reg; 
                font-family: $font-family-Overpass;  
                font-weight: $font-weight-md;
                color:$color-very-dark-gray-blue;
                line-height: 2.6rem;
            }
        }
        &-2{
            margin-top: 8.6rem;
            &--heading{
                font-size: 3rem;
                font-family: $font-family-Overpass;
                font-weight: $font-weight-xl;
                color:$color-very-dark-blue;
            }
            &--content{
                margin-top: 3.2rem;
                font-size: $font-reg; 
                font-family: $font-family-Overpass;  
                font-weight: $font-weight-md;
                color:$color-very-dark-gray-blue;
                line-height: 2.6rem;
            }
        }
    }
}