.Introduction{
    z-index: 3;
    background-color: $color-white;
    display: grid;
    grid-template-columns: 50rem 52rem;
    grid-template-rows: min-content 88.2rem;
    padding-top: 15.6rem;
    padding-left: 16rem;
    padding-right: 16rem;
    padding-bottom: 5.4rem;
    overflow-x: hidden;
    justify-content: center;
    column-gap: 4rem;
    &__header{
        grid-column: 1/3;
        display: flex;
        justify-content: center;
        align-items: center;
       
        &--heading{
            font-size: 4.2rem;
            color:$color-very-dark-blue;
            font-weight: $font-weight-xl;
        }
    }

    &__content{
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        &-1{
            &--heading{
                color:$color-very-dark-blue;
                font-size: 3rem;
                font-weight: $font-weight-xl;
            }
            
            &--content{
                margin-top: 3rem;
                font-size: $font-reg;
                line-height: 2.6rem;
                font-weight: 400;
                color:$color-very-dark-gray-blue;
            }
        }
        &-2{
            margin-top: 8.2rem;
            &--heading{
                color:$color-very-dark-blue;
                font-size:3rem;
                font-weight: $font-weight-xl;
            }
            
            &--content{
                margin-top: 3rem;
                font-size: $font-reg;
                line-height: 2.6rem;
                font-weight: 400;
                color:$color-very-dark-gray-blue;
            }
        }
    }
    &__image{
        position: relative;
        &--img{
            position:absolute;
            width: 200%;
            transform: translate(-2%,-10%);
        }
    }
    
    
    
}