.Introduction{
    z-index: 3;
    background-color:$color-white;
    display: grid;
    grid-template-columns: 50rem 52rem;
    grid-template-rows: min-content 88.2rem;
    padding: 15.6rem 16rem 5.4rem 16rem;
    overflow-x: hidden;
    justify-content: center;
    column-gap: 4rem;
    @media only screen and (max-width:$std-mobile){
        padding: 9rem 2rem 0rem 2rem;
        margin-bottom: 31.4rem; 
        width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content 1fr;
        column-gap: 0;
        row-gap: 4.2rem;
        align-items: center;
        z-index: 3;
    }
    &__header{
        grid-column: 1/3;
        display: flex;
        justify-content: center;
        align-items: center;
       
        &--heading{
            grid-row: 1/2;
            font-size: 4.2rem;
            color:$color-very-dark-blue;
            font-weight: $font-weight-xl;
            @media only screen and (max-width:$std-mobile){
                font-size: 2rem;
            }
        }
    }

    &__content{
        grid-column:1/2;
        display: flex;
        align-self:center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width:$std-mobile){
            grid-row: 3/4;            
        }
        &-1{
            &--heading{
                color:$color-very-dark-blue;
                font-size: 3rem;
                font-weight: $font-weight-xl;
                @media only screen and (max-width:$std-mobile){
                    font-size: 2rem;
                    text-align: center;
                }
            }
            
            &--content{
                margin-top: 3rem;
                font-size: $font-reg;
                line-height: 2.6rem;
                font-weight: 400;
                color:$color-very-dark-gray-blue;
                @media only screen and (max-width:$std-mobile){
                    font-size: 1.4rem;
                    text-align: center;
                }
            }
        }
        &-2{
            margin-top: 8.2rem;
            @media only screen and (max-width:$std-mobile){
                margin-top: 4.6rem;       
            }
            &--heading{
                color:$color-very-dark-blue;
                font-size:3rem;
                font-weight: $font-weight-xl;
                @media only screen and (max-width:$std-mobile){
                    font-size: 2rem;
                    text-align: center;
                }
            }
            
            &--content{
                margin-top: 3rem;
                font-size: $font-reg;
                line-height: 2.6rem;
                font-weight: 400;
                color:$color-very-dark-gray-blue;
                 @media only screen and (max-width:$std-mobile){
                    font-size: 1.4rem;
                    text-align: center;
                }
            }
        }
    }
    &__image{
        position: relative;
        &--img{
            position:absolute;
            width: 200%;
            transform: translate(-2%,-10%);
            @media only screen and (max-width:64em){
                width: 150%;
                transform: translate(10%,2%);
            }
            @media only screen and (max-width:$std-mobile){
                content: url('../images/illustration-editor-mobile.svg');
                position: relative;
                width: 100%;
                transform: translate(0%);
            }
        }
        @media only screen and (max-width:$std-mobile){
            grid-row: 2/3;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    
    
}