.mobile{
    background-image:linear-gradient(to right,rgba($color-very-dark-gray-blue,1),rgba($color-dark-desaturated-blue,0.9));
    display: grid;
    grid-template-columns: 55.6rem 55rem;
    grid-template-rows: 100%;
    padding:10.6rem 17.6rem 10.6rem 17.6rem ;
    justify-content: center;
    position: relative;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    @media only screen and (max-width:$std-mobile){
        grid-template-columns: 100%;
        grid-template-rows: min-content 1fr;
    }
    
    &__bg-img{
        position: absolute;
        top:-114%;
        left: -14%;
        width: 67%;
        z-index: 1;
        @media only screen and (max-width:$std-mobile){           
        }  
    }

    
    &__image{
        position: relative;
        &--img{
            position: absolute;
            transform: translate(-6%,-30%);
            @media only screen and (max-width:64em){
                width: 100%;
            }
           
        }
        
        z-index: 4; 
    }
    &__content{
       
        &--heading{
            font-size: 3.8rem;
            color: $color-white;
            font-weight: 700;
            font-family: $font-family-Overpass;
        }
        &--content{
            margin-top: 2.8rem;
            font-size: $font-reg;
            line-height: 1.8;
            word-spacing: 0.3rem;
            font-weight: $font-weight-md;
            font-family: $font-family-Overpass;
            color: $color-white;
        }
    }
}