.mobile{
    background-image:linear-gradient(to right,rgba($color-very-dark-gray-blue,1),rgba($color-dark-desaturated-blue,0.9));
    display: grid;
    grid-template-columns: 55.6rem 55rem;
    grid-template-rows: 100%;
    padding:10.6rem 17.6rem 10.6rem 17.6rem ;
    justify-content: center;
    position: relative;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    @media only screen and (max-width:$std-mobile){
        grid-template-columns: 100%;
        padding: 2rem 2rem 10.4rem 2rem;
        grid-template-rows: 19.7rem 35.9rem;
        row-gap: 4.2rem;
        align-items: center;
        z-index: 2;
    }
    

    
    &__image{
        position: relative;
        &--img{
            position: absolute;
            transform: translate(-6%,-30%);
            @media only screen and (max-width:64em){
                width: 100%;
            }
            z-index: 4; 
            @media only screen and (max-width:$std-mobile){
              transform: translate(0%,-80%);
              z-index: 5;
            }
        }
        &--bg-img{
            position:absolute;
            width: 192%;
            top: -340%;
            left: -79%;
            @media only screen and (max-width:$std-mobile){
                position: absolute;
                width: 190%;
                transform: translate(20%,-50%);
                z-index: 0;
            }
        }

        
       
    }
    &__content{
        @media only screen and (max-width:$std-mobile){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0rem 2.4rem 0rem 2.4rem;
            z-index: 2;      
        }
        &--heading{
            font-size: 3.8rem;
            color: $color-white;
            font-weight: 700;
            font-family: $font-family-Overpass;
            @media only screen and (max-width:$std-mobile){
                text-align: center;
            }
        }
        &--content{
            margin-top: 2.8rem;
            font-size: $font-reg;
            line-height: 1.8;
            word-spacing: 0.3rem;
            font-weight: $font-weight-md;
            font-family: $font-family-Overpass;
            color: $color-white;
            @media only screen and (max-width:$std-mobile){
                text-align: center;
                width: 80%;
            }
        }
    }
}